In [3]:
from pykrx import Krx

# 1. 전체 코드

In [4]:
krx = Krx()
code_list = krx.get_tickers()

# 2. 공매도 API

### 1. 데이터

상환량은 KRX가 제공하지 않으나 잔고와 거래량을 사용해서 계산한 값입니다. 당일 잔고와 (전일 잔고 + 당일 공매도 - 당일 상환) 수량은 정확하게 일치하지 않을 수 있습니다. 이는 투자자가 보유한 공매도잔고 비율이 상장주식수의 0.01% 미만인 경우 보고의 의무가 없기 때문에 집계되지 않기습니다.

In [5]:
df = krx.get_shorting_status_by_date("20190101", "20190308", "187790")
df.tail()

            공매도      잔고      공매도금액       잔고금액
날짜
20190228   1330  193204    3155800  441471140
20190304    988  193204    2399840  469485720
20190305  24931  193204   62353730  476247860
20190306  55789  242028  145268330  624432240
20190307   4200       0   10448995          0

### 2. 종목별 공매도 거래 현황

get_shorting_volume_by_ticker() 메서드는 시작일/종료일 두 개의 파라미터를 입력받아 해당 기간동안 코스피 종목의 공매도 거래량 정보를 DataFrame으로 반환합니다.

In [6]:
df = krx.get_shorting_volume_by_ticker("20190101", "20190310", ticker='187790')
df.tail()

         종목명  공매도수량     총거래량  거래량비중
날짜
20190304  나노    988   504366   0.20
20190305  나노  24931  1030189   2.42
20190306  나노  55789  5533604   1.01
20190307  나노   4200  1243429   0.34
20190308  나노   7246  1011615   0.72

### 3. 투자자별 공매도 거래현황

get_shorting_investor_by_date() 메서드는 시작일/종료일 두 개의 파라미터를 입력받아 해당 기간동안 코스피 종목의 투자자별 공매도 거래량/거래대금을 DataFrame으로 반환합니다.

In [7]:
df = krx.get_shorting_volume_by_investor("20190101", "20190310", market='코스닥')
df.tail()

                  기관          개인         외국인        기타          합계
날짜
20190304   974721644  -683621575  -144184086         0   146915983
20190305   885134644  1811481999   314722403         0 -1283628250
20190306  -989266555 -1873785141  1882705815         0  -980345881
20190307    87115758 -1894110901  -434734522   5900000  2059137631
20190308 -1622061810 -2052138349  1160298213  22815700  1803881050

### 4. 공매도 거래비중 상위 50종목

get_shorting_trade_top50() 메서드는 조회일자를 입력받아 해당일 코스피 종목의 거래 비중 TOP 50을 DataFrame으로 반환합니다.

In [34]:
df = krx.get_shorting_volume_top50("20190304", "20190308")
df.tail()

,순위,공매도거래대금,총거래대금,공매도비중,직전40일거래대금평균,공매도거래대금증가율,직전40일공매도평균비중,공매도비중증가율,주가수익률
종목명,,,,,,,,,
LG전자우,46,46103000,386260300,11.936,8894013,5.184,1.315,9.073,0.000
LG하우시스,47,315690300,2653755500,11.896,233535245,1.352,11.269,1.056,1.982
경방,48,6263350,53400300,11.729,2582941,2.425,3.113,3.768,-0.444
현대중공업,49,4339429500,37002278500,11.727,4188270988,1.036,9.330,1.257,0.380
GS건설,50,4318757050,37001745850,11.672,2388688211,1.808,13.042,0.895,-2.687

### 5. 공매도 잔고

In [37]:
df = krx.get_shorting_balance_by_ticker("20190101", "20190310", ticker='187790')
df.tail()

           공매도잔고     상장주식수      공매도금액          시가총액    비중
187790
20190227  193204  23851615  460791540  5.688610e+10  0.81
20190228  193204  23851615  441471140  5.450094e+10  0.81
20190304  193204  23851615  469485720  5.795942e+10  0.81
20190305  193204  23851615  476247860  5.879423e+10  0.81
20190306  242028  23851615  624432240  6.153717e+10  1.02