In [1]:
import os
import sys
import datetime
from time import sleep
from multiprocessing import Pool, Value
from itertools import repeat

import pandas as pd
from urllib.request import urlopen
from bs4 import BeautifulSoup

# 1. Comment

In [2]:
code = '093320'
num = 2

In [3]:
page = "https://finance.naver.com/item/board.nhn?code=" + str(code) + "&page=" + str(num)
html = urlopen(page)
soup = BeautifulSoup(html, "html.parser")
comment = soup.select('span.tah.gray03')

In [4]:
comment = soup.select('span.tah.gray03')

In [5]:
comments = []
views = []

In [6]:
for i in range(len(comment)):
    if i % 2 == 0:
        comments.append(comment[i].text)
    else:
        views.append(comment[i].text)

In [14]:
pd.DataFrame({'time': pd.to_datetime(comments), 'views': views})

         time views
0  2019-04-09   715
1  2019-04-09   726
2  2019-04-08   626
3  2019-04-08   579
4  2019-04-08   363
5  2019-04-08   469
6  2019-04-08   252
7  2019-04-07   733
8  2019-04-06   562
9  2019-04-05   442
10 2019-04-05   430
11 2019-04-05   245
12 2019-04-05   293
13 2019-04-05   355
14 2019-04-05   328
15 2019-04-05   242
16 2019-04-05   419
17 2019-04-05   243
18 2019-04-05   402
19 2019-04-05   374

In [11]:
comments

['2019.04.09 10:25',
 '2019.04.09 09:08',
 '2019.04.08 15:47',
 '2019.04.08 12:36',
 '2019.04.08 12:20',
 '2019.04.08 12:04',
 '2019.04.08 12:00',
 '2019.04.07 13:37',
 '2019.04.06 05:37',
 '2019.04.05 19:01',
 '2019.04.05 17:00',
 '2019.04.05 14:46',
 '2019.04.05 14:07',
 '2019.04.05 13:58',
 '2019.04.05 12:44',
 '2019.04.05 10:48',
 '2019.04.05 07:07',
 '2019.04.05 08:19',
 '2019.04.05 05:49',
 '2019.04.05 05:41']