In [1]:
import os
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

# 1. 추세주 정의

추세주란 1주일 동안에 10% 이상 상승한 주를 의미한다.

In [2]:
data_path = os.path.abspath('../../data/stock/folder/일봉_20190323/')
files = os.listdir(data_path)

In [3]:
code_list = pd.read_csv('../../data/stock/folder/code_name_list.csv', index_col=0)

In [4]:
code_list.shape

(2848, 2)

In [5]:
%%time
df = pd.DataFrame()

for i, file in enumerate(files):
    try:
        new_df = pd.read_csv(os.path.join(data_path, file), engine='python', encoding='utf-8')
        new_df['code'] = file.split('.')[0]
        df = pd.concat((new_df, df), axis=0)
    except:
        pass

    if i % 100 == 0:
        print(i, '/', len(files))

0 / 2424
100 / 2424
200 / 2424
300 / 2424
400 / 2424
500 / 2424
600 / 2424
700 / 2424
800 / 2424
900 / 2424
1000 / 2424
1100 / 2424
1200 / 2424
1300 / 2424
1400 / 2424
1500 / 2424
1600 / 2424
1700 / 2424
1800 / 2424
1900 / 2424
2000 / 2424
2100 / 2424
2200 / 2424
2300 / 2424
2400 / 2424
Wall time: 3min 37s

In [6]:
df.shape

(4277303, 7)

In [7]:
df.head()

         날짜     시가     고가     저가     종가       거래량    code
0  20180406  14050  18150  13600  16300  25728117  950170
1  20180409  16300  18200  16250  17000   5844847  950170
2  20180410  16900  16900  15450  16450   2708657  950170
3  20180411  16800  17150  16150  16150   1500782  950170
4  20180412  15950  16050  15250  15300   1208193  950170

# 2. 2018년 3월 4일부터 22일까지 15% 이상 상승한 종목을 찾는다.

In [8]:
codes = df['code'].unique()

In [9]:
df['날짜'] = pd.to_datetime(df['날짜'], format='%Y%m%d')

In [10]:
df.head()

          날짜     시가     고가     저가     종가       거래량    code
0 2018-04-06  14050  18150  13600  16300  25728117  950170
1 2018-04-09  16300  18200  16250  17000   5844847  950170
2 2018-04-10  16900  16900  15450  16450   2708657  950170
3 2018-04-11  16800  17150  16150  16150   1500782  950170
4 2018-04-12  15950  16050  15250  15300   1208193  950170

In [11]:
df = pd.merge(df, code_list, on='code', how='left')

In [12]:
standard_day = pd.to_datetime('20190301', format='%Y%m%d')

In [41]:
trend_codes = []
trend_ratio = []

for i, code in enumerate(codes):
    df_code = df[df['code'] == code]
    df_code = df_code[df_code['날짜'] >= standard_day]
    first_price = df_code['종가'].iloc[0]
    final_price = df_code['종가'].iloc[-1]
    
    trend_codes.append(code)
    trend_ratio.append(final_price / first_price)
        
    if i % 100 == 0:
        print(i, "/", len(codes))

0 / 2422
100 / 2422
200 / 2422
300 / 2422
400 / 2422
500 / 2422
600 / 2422
700 / 2422
800 / 2422
900 / 2422
1000 / 2422
1100 / 2422
1200 / 2422
1300 / 2422
1400 / 2422
1500 / 2422
1600 / 2422
1700 / 2422
1800 / 2422
1900 / 2422
2000 / 2422
2100 / 2422
2200 / 2422
2300 / 2422
2400 / 2422

In [45]:
trend_df = pd.DataFrame({'code': trend_codes, 'ratio': trend_ratio})

In [46]:
trend_code_df = pd.merge(trend_df, code_list, on='code')

In [99]:
trend_code_df.sort_values('ratio', ascending=False, inplace=True)

In [100]:
trend_code_df.to_csv('3week-trend.csv', index=False)

# 2-2. 3월 18일부터 3월 22일까지 상승한 종목을 찾는다.

In [58]:
standard_day2 = pd.to_datetime('20190317', format='%Y%m%d')

In [59]:
trend_codes2 = []
trend_ratio2 = []

for i, code in enumerate(codes):
    df_code = df[df['code'] == code]
    df_code = df_code[df_code['날짜'] >= standard_day2]
    first_price = df_code['종가'].iloc[0]
    final_price = df_code['종가'].iloc[-1]
    
    trend_codes2.append(code)
    trend_ratio2.append(final_price / first_price)
        
    if i % 100 == 0:
        print(i, "/", len(codes))

0 / 2422
100 / 2422
200 / 2422
300 / 2422
400 / 2422
500 / 2422
600 / 2422
700 / 2422
800 / 2422
900 / 2422
1000 / 2422
1100 / 2422
1200 / 2422
1300 / 2422
1400 / 2422
1500 / 2422
1600 / 2422
1700 / 2422
1800 / 2422
1900 / 2422
2000 / 2422
2100 / 2422
2200 / 2422
2300 / 2422
2400 / 2422

In [60]:
trend_df2 = pd.DataFrame({'code': trend_codes2, 'ratio': trend_ratio2})

In [61]:
trend_code_df2 = pd.merge(trend_df2, code_list, on='code')

In [97]:
trend_code_df2.sort_values('ratio', ascending=False, inplace=True)

In [98]:
trend_code_df2.to_csv('1week-trend.csv', index=False)

### 1, 3주 안에 모두 100위 안에 들어간 종목

In [80]:
trend_code_df = trend_code_df.sort_values('ratio', ascending=False)
trend_code_df2 = trend_code_df2.sort_values('ratio', ascending=False)

In [86]:
best_trend_df = trend_code_df2.iloc[:100][trend_code_df2.iloc[:100]['code'].isin(trend_code_df[:100]['code'].values)]

In [95]:
best_trend_df.to_excel('best_trend_df.xlsx', index=False)

### 1주 안에 들지만 3주 안에 들지 못한 종목

In [90]:
second_trend_df = trend_code_df2.iloc[:100][~trend_code_df2.iloc[:100]['code'].isin(trend_code_df[:100]['code'].values)]

In [96]:
second_trend_df.to_excel('second_trend_df.xlsx', index=False)

# 3. 추세주 중에서 재무가 탄탄한 종목만 선택

재무가 탄탄한 종목 선정

- PER: 20이하
- PBR: 1.5이하